

    body{

        background-color:#f5f5f5;
        color: #464547;
        font-family: "Roboto";


     

        p{
            font-size: 16pt;
            font-family: "Verdana";
        }

    }
    
    body,html {
        padding: 0pt;
        margin: 0pt;
      }

  



    a:link { 
        color:#464547;
    }

    a:hover { 
        color: #464547;
    }
    
    a:visited { 
        color: #464547;
    }

    a:active { 
        color: #dedede;
    }


footer{
background-color: #464547;
font-family: "Verdana";
font-size: 10pt;
color: white;
}





    .wrapper {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-column-gap: 5px;
        background-color: white;
      }
      
      .item {
        background-color:white;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: "Lato";
        color: #464547;
        min-height: 35px;
        padding: 5%;
      }


      .wrapper01 {
        display: grid; 
        grid-column-gap: 20px;
      }
      
      .item01 {
        background-color:#f5f5f5;
        border: 1px solid #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #464547;
        min-height: 30px;
        padding: 3%;
      }

      .item02 {
        background-color:#f5f5f5;
        border: 1px solid #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #464547;
        min-height: 30px;
        padding: 0pt;
      }


      .item03 {
        background-color:#464547;
        border: 1px solid #464547;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        padding: 20pt;
      }


 
      .travel-map {
        object-fit: contain;
        width:1200px;
        height:600px;
      }


      .wrapper02 {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-column-gap: 0;
        background-color: #f5f5f5;
      }

      .photo-type {
        object-fit: contain;
        width:320px;
        height:320px;
      }


      .photo-type01 {
        object-fit: contain;
        width:250px;
        height:250px;
      }


      .wrapper03 {
        display: grid; 
        grid-template-columns: 1fr 2fr; 
        grid-column-gap:0px;
        background-color: #f5f5f5;
      }

      .item04 {
        background-color:#f5f5f5;
        border: 1px solid #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        padding: 10pt;
      }

      .wrapper04 {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 5px;
      }


 