

    body{

        background-color:hsl(0, 0%, 96%);
        color: #464547;
        font-family: "Open Sans";

        p{
            font-size: 16pt;
        }

    }
    


    li{
        text-decoration: none;
        display:inline;
        background-color: #464547;
        color: white;
    }
    

    a:link { 
        color: white;
    }

    a:hover { 
        color: #dedede;
    }
    
    a:visited { 
        color: white;
    }

    a:active { 
        color: #dedede;
    }



    .column {
        float: left;
        width: 20%;
        padding: 5px;
      }
      

      .row::after {
        content: "";
        clear: both;
        display: table;
      }
    